@import './base.css';

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 12px;
}

div::-webkit-scrollbar {
  height: 10px;
}

:root {
  --primary: lightgray;
  --secondary: white;
}

*::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8px;
  border: 3px solid var(--secondary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #c3c3c3;
}

.drawflow,
.drawflow .parent-node {
  position: relative;
}
.parent-drawflow {
  display: flex;
  overflow: hidden;
  touch-action: none;
  outline: 0;
}
.drawflow {
  width: 100%;
  height: 100%;
  user-select: none;
  perspective: 0;
}
.drawflow .drawflow-node {
  display: flex;
  align-items: center;
  position: absolute;
  background: #fff;
  width: 160px;
  min-height: 40px;
  border-radius: 5px;
  border: 2px solid #36454f;
  color: #36454f;
  z-index: 1;
  padding: 15px;
}
.drawflow .drawflow-node span {
  display: inline;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.drawflow .drawflow-node.selected {
  background: #2c3e50;
  color: white;
}
.drawflow .drawflow-node:hover {
  cursor: move;
}
.drawflow .drawflow-node .inputs,
.drawflow .drawflow-node .outputs {
  width: 0;
}
.drawflow .drawflow-node .drawflow_content_node {
  width: 100%;
  display: block;
}
.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
  position: relative;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #36454f;
  cursor: crosshair;
  z-index: 10;
  margin-bottom: 5px;
}
.drawflow .drawflow-node .input {
  left: -24px;
  top: 2px;
  background: white;
}
.drawflow .drawflow-node .output {
  right: -8px;
  top: 2px;
  background: white;
}
.drawflow svg {
  z-index: 0;
  position: absolute;
  overflow: visible !important;
}
.drawflow .connection {
  position: absolute;
  pointer-events: none;
  aspect-ratio: 1/1;
}
.drawflow .connection .main-path {
  fill: none;
  stroke-width: 3px;
  stroke: #36454fbb;
  pointer-events: all;
}
.drawflow .connection .main-path:hover {
  stroke: #36454fdd;
  cursor: pointer;
}
.drawflow .connection .main-path.selected {
  stroke: #36454fff;
}
.drawflow .connection .point {
  cursor: move;
  stroke: #000;
  stroke-width: 2;
  fill: #fff;
  pointer-events: all;
}
.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
  fill: #1266ab;
}
.drawflow .main-path {
  fill: none;
  stroke-width: 5px;
  stroke: #4682b4;
}
.drawflow-delete {
  display: none !important;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: white;
  color: #2c3e50;
  z-index: 10;
  border: 2px solid #2c3e50;
  font-weight: 700;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}
/* .drawflow > .drawflow-delete {
  margin-left: -15px;
  margin-top: 15px;
}
.parent-node .drawflow-delete {
  right: -12px;
  top: -12px;
} */
