.modal {
  max-width: 540px;
  max-height: calc(100% - 50px);
}

.modal-content {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.modal-header {
  @media (min-width: 768px) {
    padding: 1rem;
  }
}

.form {
  @media (min-width: 768px) {
    padding: 1rem;
  }
}

.cont {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  user-select: none;
}

.cont input {
  width: 50%;
}

.check {
  width: 1/2;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  top: 3px;
}

.check .is_web_app {
  font-weight: 500;
  position: relative;
  top: -3px;
  font-size: 15px;
  color: #2e363e;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a6aeb6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #226ce6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #226ce6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.clear-button {
  position: absolute;
  top: 11px;
  right: 20px;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  color: #929aa2;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
}

.clear-button:hover {
  color: #7a7d80;
}

label {
  color: #2e363e;
}

.nextChosen {
  color: brown;
}
