.modal {
  max-width: 480px;
  max-height: calc(100% - 80px);
  z-index: 101;
}

.modal-content {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.modal-header {
  @media (min-width: 768px) {
    padding: 1rem;
  }
}

.form {
  @media (min-width: 768px) {
    padding: 0.6rem 1rem;
  }
}

.check {
  width: 43px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a6aeb6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #226ce6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #226ce6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.label span {
  font-weight: 500;
  user-select: none;
  color: #2e363e;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.tabs button {
  flex-basis: 50%;
  padding: 10px 0;
  letter-spacing: 0.5px;
  font-size: 17px;
  background: #f2f6fa;
  border: none;
  border-bottom: 2px solid #f2f6fa;
  user-select: none;
  color: #2e363e;
  cursor: pointer;
  transition: all 0.3s;
}

.tabs .template {
  border-radius: 5px 0 0 0;
}

.tabs .another-url {
  border-radius: 0 5px 0 0;
}

.tabs .active {
  background: #e2eeff;
  border-bottom: 2px solid #226ce6;
}

.tabs button:focus {
  outline: none;
}

.url-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.check-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 8px;
  background-color: #e4eeff;
  cursor: pointer;
}

.check-button:focus, 
.check-button:active {
  box-shadow: 0 0 0 2px rgba(34, 108, 230, 0.5);
}

.check-button .check-icon {
  fill: #226ce6;
}

.url-container .isToggled {
  width: calc(100% - 45px);
}

.url-part .success {
  display: inline-block;
  margin-top: 2px;
  color: green;
  user-select: none;
}

.url-part .fail {
  display: inline-block;
  margin-top: 2px;
  color: red;
  user-select: none;
}
